h1 {
    color: white;
    padding-left: 30px;
}

/** {
    border: solid;
}*/
.header *{
    border: solid;
}
.header {

background-color: cadetblue;
display: flex;
justify-content: space-between;
}
.grid{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: #808080;
}
a:link{
   color: white; 
}
a:visited{
    color: gold;
}
.menu a{
    margin-left: 20px;
}
.item{
    position: relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.33;
}